<h2>Register</h2>

<form class="form register-form">
  <div class="form-group">
    <label for="username-register">Username:</label>
    <input class="form-input" type="text" id="username-regist" />
  </div>
  <div class="form-group">
    <label for="email-register">Email:</label>
    <input class="form-input" type="text" id="email-regist" />
  </div>
  <div class="form-group">
    <label for="password-register">Password:</label>
    <input class="form-input" type="password" id="password-register" />
  </div>
    <div class="form-group">
    <label for="password-register">Confirm Password:</label>
    <input class="form-input" type="password" id="password-register-confirm" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>

<div>
  <h4>If you are already registered, please sign in.</h4>
</div>
<a class="btn btn-primary" href="/login">Sign In</a>

<script src="/js/register.js"></script>
